In [2]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn import naive_bayes
from sklearn.metrics import roc_auc_score

In [5]:
df=pd.read_csv("C:/Users/Akshay/Desktop/training.txt", sep="\t", names=['liked','txt'])

In [6]:
df.head()

   liked                                                txt
0      1            The Da Vinci Code book is just awesome.
1      1  this was the first clive cussler i've ever rea...
2      1                   i liked the Da Vinci Code a lot.
3      1                   i liked the Da Vinci Code a lot.
4      1  I liked the Da Vinci Code but it ultimatly did...

In [7]:
stopset = set(stopwords.words('english'))
vectorizer = TfidfVectorizer(use_idf=True, lowercase=True, strip_accents='ascii', stop_words=stopset)

In [8]:
y=df.liked

In [9]:
X=vectorizer.fit_transform(df.txt)

In [11]:
print (y.shape)
print (X.shape)

(6918,)
(6918, 2011)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=42)

In [13]:
clf = naive_bayes.MultinomialNB()
clf.fit(X_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [14]:
roc_auc_score(y_test,clf.predict_proba(X_test)[:,1])

0.9979292333245913

In [22]:
import numpy as np
movie_reviews_array=np.array(["Jupiter Ascending was a good movie"])
movie_review_vector = vectorizer.transform(movie_reviews_array)

In [23]:
print (clf.predict(movie_review_vector))

[1]